.header {
    background-color: #122538;
}
.layout {
    margin: 0 32px;
}
.header-topline {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.header-topline-phones, .header-topline-auth {
    color: #fff;
    cursor: pointer;
}
.phone {
    margin-left: 10px;
    border-bottom: 1px dashed #fff;
}
.phone:hover {
    border: none;
}
.header-bottomline {
    display: flex;
    align-items: center;
}
.header-botomline-logo {
    display: block;
    padding: 5px 50px;
}
.menu-toogler {
    background: transparent;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 3px;
    color: #fff;
    display: block;
    height: 40px;
}
.menu-toogler-text {
    margin-left: 10px;
}
.header-search {
    height: 40px;
    margin-left: 25px;
    width: 60%;
}
.header-search-form {
    display: flex;
    width: 100%;
    align-items: center;
}
.header-search-form-inner {
    display: flex;
    flex: 1;
}
.header-search-form-inner-input-wraper {
    width: 100%;
}
.header-search-form-inner-input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    background-image: url('src/assets/search.svg');
    background-repeat: no-repeat;
    background-position: 12px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.header-search-button {
    display: block;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #00A046;
    border: none;
    border-radius: 0 3px 3px 0;
    line-height: normal;
    padding: 1px 16px;
}
.header-actions {
    display: flex;
    list-style: none;
    color: #a6a5a5;
    margin: 0;
    align-items: center;
}
.header-actions-item-icon {
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
}
.modal-window-background {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    display: flex;
    align-items: center;
}
.modal-window {
    background: #fff;
    width: 640px;
    max-width: 640px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0,0,0,.32);
    padding: 15px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.modal-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-window-header-button {
    font-size: 30px;
    border: none;
    background: #fff;
}
.burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}
.burger:hover.burger::after, .burger:hover::before {
    background: red;
}
.burger::before, .burger::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background: #d2d2d2;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2px;
    margin-left: -20px;
    transform: rotate(45deg);
    transform-origin: center center;
}
.burger::after {
    transform: rotate(-45deg);
}
.modal-window-body {
    display: flex;
    color: #797878;
}
.modal-window-body-auth {
    width: 60%;
    border-right: 1px solid #d2d2d2;
    margin-bottom: 20px;
    padding-right: 20px;
}
.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0;
}
.form-row-input, .form-row-button {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    padding: 0 12px;
}
.form-row-button {
    border: none;
    color: #fff;
    background: #00A046;
}
.form-row-check {
    display: flex;
    align-items: center;
}
.rememberme {
    display: none;
    
}
.form-row-check-link {
    cursor: pointer;
    color: #3e77aa;
    border-bottom: 1px dashed #797878;
}
.form-row-check-label {
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.form-row-check-label::before {
    content: '';
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-image: initial;
    vertical-align: middle;
    border-radius: 3px;
}
.rememberme:checked + .form-row-check-label::before {
    content: '✓';
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00A046;
    border: none;
}
.form-row:nth-child(3) {
    flex-direction: row;
    justify-content: space-between;
}
.signup {
    display: block;
    text-align: center;
    padding: 20px 10px;
    color: #3e77aa;
}
.modal-window-body-social {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.modal-window-body-social-button-title {
    margin: 0;
    padding: 0 10px;
}
.modal-window-body-social-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
    color: #3e77aa;
    border: 1px solid #a6a5a5;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 1px #ebebeb;
    border: none;
    outline: 0;
    border-radius: 3px;
    margin-bottom: 20px;
}