<header class="header">
  <app-cart *ngIf="cartVisible" (toggleCartVisible)="toggleCartVisible()"></app-cart>
  <div class="modal-window-background" *ngIf="authVisible">
    <div class="modal-window">
      <div class="modal-window-header">
        <h3>Вхід</h3>
        <button class="modal-window-header-button" (click)="toggleAuthVisible();" aria-label="Закрити модальне вікно">
          <span class="burger"></span>
        </button>
      </div>
      <div class="modal-window-body">
        <form class="modal-window-body-auth" [formGroup]="checkoutForm" (ngSubmit)="signInWithEmailEndPassword(checkoutForm.value)">
         <div class="form-row">
            <label for="email">Ел. пошта або телефон</label>
            <input type="email" id="email" class="form-row-input" formControlName="email">
         </div>
          <div class="form-row">
            <label for="password">Пароль</label>
            <input type="password" id="password" class="form-row-input" formControlName="password">
          </div>
          <div class="form-row">
            <div class="form-row-check">
              <input type="checkbox" class="rememberme" [checked]="rememberMe" id="rememberme">
              <label for="rememberme" class="form-row-check-label">Запам'ятати мене</label>
            </div>
            <a class="form-row-check-link">Нагадати пароль</a>
          </div>
          <div class="form-row">
            <button class="form-row-button" type="submit">Увійти</button>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="signup">Зареєструватися</a>
          </div>
        </form>
        <div class="modal-window-body-social">
          <p>Увійти як користувач</p>
          <button class="modal-window-body-social-button">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            <p class="modal-window-body-social-button-title" (click)="auth.facebookSignIn();toggleAuthVisible();">Facebook</p>
          </button>
          <button class="modal-window-body-social-button" (click)="auth.googleSignin(); ">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            <p class="modal-window-body-social-button-title">Google</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="layout">
    <div class="header-topline">
      <div class="header-topline-phones">
        <fa-icon [icon]="faPhone"></fa-icon>
        <span class="phone">{{phone}}</span>
      </div>
      <div class="header-topline-auth">
        <a *ngIf="auth.user$ | async as user; else login" (click)="auth.signOut()">Вийти</a>
      </div>
    </div>
    <div class="header-bottomline">
      <a [routerLink]="['']" routerLinkActive="router-link-active" class="header-botomline-logo">
        <img width="80" height="80" src="https://go-go.ua/image/catalog/logo_256.png" alt="">
      </a>
      <div class="header-search">
        <form class="header-search-form">
          <div class="header-search-form-inner">
            <div class="header-search-form-inner-input-wraper">
              <input type="text" [placeholder]="placeholder" class="header-search-form-inner-input">
            </div>
          </div>
          <button type="submit" class="header-search-button">Знайти</button>
        </form>
      </div>
      <ul class="header-actions">
        <li class="header-actions-item">
          <div class="header-actions-item-badge" *ngIf="cartCouter">
            <p class="header-actions-item-badge-text">{{cartCouter}}</p>
          </div>
          <fa-icon [icon]="faCartArrowDown" class="header-actions-item-icon" (click)="toggleCartVisible()"></fa-icon>
        </li>
        <li class="header-actions-item">
          <fa-icon [icon]="faHeart" class="header-actions-item-icon"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</header>

<ng-template #login>
  <a (click)="toggleAuthVisible()">Увійти</a>
</ng-template>