<header class="header">
  <div class="layout">
    <div class="header-topline">
      <div class="header-topline-phones">
        <fa-icon [icon]="faBars"></fa-icon>
        <span class="phone">{{phone}}</span>
      </div>
      <div class="header-topline-auth">
        <i class="fas fa-phone header-phones-item"></i>{{panelLable}}
      </div>
    </div>
    <div class="header-bottomline">
      <a href="/" class="header-botomline-logo">
        <img width="80" height="80" src="https://go-go.ua/image/catalog/logo_256.png" alt="">
      </a>
      <button class="menu-toogler" aria-label="Каталог товарів">
        <fa-icon [icon]="faBox"></fa-icon>
        <span class="menu-toogler-text">Каталог товарів</span>
      </button>
      <div class="header-search">
        <form class="header-search-form">
          <div class="header-search-form-inner">
            <div class="header-search-form-inner-input-wraper">
              <input type="text" [placeholder]="placeholder" class="header-search-form-inner-input">
            </div>
          </div>
          <button type="submit" class="header-search-button">Знайти</button>
        </form>
      </div>
      <ul class="header-actions">
        <li class="header-actions-item">
          <fa-icon [icon]="faCartArrowDown" class="header-actions-item-icon"></fa-icon>
        </li>
        <li class="header-actions-item">
          <fa-icon [icon]="faHeart" class="header-actions-item-icon"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</header>