<div class="container">
    <h3 class="text-muted">Shipping prices</h3>
    <div class="row d-flex justify-content-center">
        <div *ngFor="let item of shippingDetails | async" class="col-2 m-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{item.type}}
                    </h5>
                    <!-- <p class="card-text">{{product.description}}</p> -->
                    <h3>{{item.price}} $</h3>
                </div>
            </div>
        </div>
    </div>
</div>