<div *ngIf="product">
    <div>
        <h1 class="mat-headline">{{product.title}}</h1>
        <ul class="actions">
            <li *ngFor="let item of navigateItems" class="actions-item">
                <a routerLink ="/products/{{product._id}}/{{item.path}}" routerLinkActive="router-link-active"
                    class="actions-item-link" [class.active]="item.active" (click)="toggleTabActive(item.id)">{{item.title}}</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>

