<div class="container">
    <ul class="product-list" *ngIf="products?.length > 0; else noItems">
      <li class="product-list-item" *ngFor="let product of products">
        <figure>
          <a routerLink="/products/{{product._id}}">
            <img [src]="product.imageUrl" alt="productImage" height="250" width="250">
          </a>
          <figcaption>
            <h1 class="mat-h4 product-list-item-title">{{product.title}}</h1>
            <p>
              <span class="mat-h1" [matBadge]="product.price" matBadgeOverlap="false" matBadgeSize="medium" *ngIf="product.discountPrice">{{product.discountPrice}} ₴</span>
            </p>
            <h3 *ngIf="!product.discountPrice" class="mat-h1">{{product.price}} ₴</h3>
            <p *ngIf="product.quantity > 10; else ending" class="available">Є в наявності</p>
            <button mat-flat-button color="primary"  (click)="addToCart(product)" class="card-button" *ngIf="!cartService.hasId(product._id); else added">Додати в корзину</button>
          </figcaption>
        </figure>
      </li>
    </ul>
</div>

<div class="paginator-wrapper" *ngIf="length">
  <mat-paginator #paginator
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 (page)="pageEvent = togglePage($event)">
  </mat-paginator>
</div>

<ng-template #noItems>
  <div class="spinner-wrapper">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
      [value]="0">
    </mat-progress-spinner>
  </div>
</ng-template>
<ng-template #ending>
  <p class="noavailable">Закінчується</p>
</ng-template>
<ng-template #added>
  <button mat-flat-button color="warn" (click)="addToCartInit('product')" class="card-button">Додано</button>
</ng-template>
