<div *ngIf="!loading">
    <ul *ngIf="todosService.todos.length; else noTodos">
        <li *ngFor="let todo of todosService.todos; let i = index">
            <span [class.done]="todo.completed">
                <input [checked]="todo.completed" type="checkbox" (change)="onChange(todo.id)">
                <strong>{{i + 1}}</strong>
                {{todo.title}}
                <button class="rm" (click)="removeTodo(todo.id)">X</button>
            </span>
        </li>
    </ul>
    
    <ng-template #noTodos>
        <p class="text-danger">No todos now</p>
    </ng-template>
</div>

<p *ngIf="loading">Loading...</p>