.cart-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.modal-window {
    background: #fff;
    width: 950px;
    max-width: 950px;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0,0,0,.32);
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.cart-empty {
    display: flex;
    justify-content: center;
}
.cart-empty-icon {
    color: #cbd3df;
    font-size: 50px;
    display: flex;
    align-items: center;
}
.cart-empty-text {
    margin: 0;
    display: flex;
    align-items: center;
    color: #ddd;
    font-size: 200%;
}
.burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}
.modal-window-header-button {
    font-size: 30px;
    border: none;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.burger:hover.burger::after, .burger:hover::before {
    background: red;
}
.burger::before, .burger::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background: #d2d2d2;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2px;
    margin-left: -20px;
    transform: rotate(45deg);
    transform-origin: center center;
}
.burger::after {
    transform: rotate(-45deg);
}
.modal-window-body {
    display: flex;
    color: #797878;
}
.card-body-right {
    padding: 0 10px;
    flex-grow: 1;
}
.card-body-right-control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-badge {
    padding: 2px 8px;
    border-radius: 3px;
    background: #fff3b5;
}
.quantity-badge-button {
    border: none;
    height: 35px;
    width: 35px;
    color: #3e77aa;
    border-radius: 3px;
}
.quantity-badge-input {
    height: 35px;
    margin: 0 10px;
    width: 50px;
    text-align: center;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}