<div class="cart-container">
    <div class="modal-window">
        <a class="modal-window-header-button" (click)="toggleCartVisible.emit()">
            <span class="burger"></span>
        </a>
        <div *ngIf="items.length > 0; else noProducts">
            <div *ngFor="let item of items" class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">
                        {{item.title}}
                    </h5>
                    <p class="card-text">{{item.description}}</p>
                    <h3>{{item.price}} $</h3>
                </div>
            </div>
            <button class="btn btn-danger m-5" (click)="clearCart()">Clear cart</button>
            <button class="btn btn-success m-5" [routerLink]="['/order']" routerLinkActive="router-link-active" >To order</button>
        </div>
    </div>
</div>

<ng-template #noProducts>
   <span class="cart-empty">
       <fa-icon [icon]="faCartPlus" class="cart-empty-icon"></fa-icon>
        <p class="text-center text-muted pl-3 cart-empty-text">Your cart is empty</p>
   </span>
</ng-template>
