<div *ngIf="items.length > 0; else noProducts">
    <div *ngFor="let item of items" class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">
                {{item.title}}
            </h5>
            <p class="card-text">{{item.description}}</p>
            <h3>{{item.price}} $</h3>
            <button class="btn btn-info" (click)="addToCart(product)">Add to cart</button>
        </div>
    </div>
    <button class="btn btn-danger m-5" (click)="clearCart()">Clear cart</button>
</div>

<ng-template #noProducts>
    <p class="text-center text-muted">Your cart is empty</p>
</ng-template>
