<div class="cart-container">
    <div class="modal-window">
        <a class="modal-window-header-button" (click)="toggleCartVisible.emit()">
            <h3>Кошик</h3>
            <span class="burger"></span>
        </a>
        <div *ngIf="items.length > 0; else noProducts">
            <div *ngFor="let item of items" class="card mt-5">
                <div class="card-body d-flex">
                    <div class="card-body-left">
                        <img [src]="item.imageUrl" alt="itemtitle" width="150" height="150">
                    </div>
                    <div class="card-body-right">
                        <a routerLink="/products/{{item.id}}" routerLinkActive="router-link-active"  class="card-title">
                            {{item.title}}
                        </a>
                        <div class="card-body-right-control-panel mt-5">
                            <div class="price-badge">
                                <h5 class="m-0">{{item.price}} грн</h5>
                            </div>
                            <div class="quantity-badge">
                                <button class="quantity-badge-button" [disabled]="disabled">
                                    <fa-icon [icon]="faMinus"></fa-icon>
                                </button>
                                <input type="text" class="quantity-badge-input" [value]="quantity">
                                <button class="quantity-badge-button" (click)="increaseQuantity()">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </button>
                            </div>
                            <div class="sum-badge">
                                <small class="sum-badge-title">Сума</small>
                                <h5>{{item.sum}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger m-5" (click)="clearCart()">Clear cart</button>
            <button class="btn btn-success m-5" [routerLink]="['/order']" routerLinkActive="router-link-active" >To order</button>
        </div>
    </div>
</div>

<ng-template #noProducts>
   <span class="cart-empty">
       <fa-icon [icon]="faCartPlus" class="cart-empty-icon"></fa-icon>
        <p class="text-center text-muted pl-3 cart-empty-text">Your cart is empty</p>
   </span>
</ng-template>
