.product-title {
  padding: 20px 0 0 50px;
}
.table {
  display: block;
  border-collapse: collapse;
  padding: 0 50px;
}
td {
  border: 1px solid #ddd;
  padding: 8px 50px;
  text-align: center;
}
.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
