<div class="container">
    <div class="row" *ngIf="products?.length > 0; else noItems">
      <div class="col" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
          <a routerLink="/products/{{product.id}}" class="text-decoration-none">
            <img [src]="product.imageUrl" class="card-img-top" alt="cardImage" height="250">
            <div class="card-body">
              <h5 class="card-title text-dark">{{product.title}}</h5>
              <h6 class="text-muted card-discount">{{product.discountPrice}} ₴</h6>
              <h3 class="text-danger">{{product.price}} ₴</h3>
              <p *ngIf="product.quantity > 10; else ending" class="available">Є в наявності</p>
            </div>
          </a>
          <a (click)="addToCart(product)" class="btn btn-primary text-light" *ngIf="!cartService.hasId(product.id); else added">Додати в корзину</a>
        </div>
      </div>
    </div>
</div>

<ng-template #noItems>
  <p>No items</p>
</ng-template>
<ng-template #ending>
  <p class="noavailable">Закінчується</p>
</ng-template>
<ng-template #added>
  <a (click)="addToInventory(product)" class="btn btn-success text-light">Додано</a>
</ng-template>