.card-discount {
    text-decoration: line-through;
}
.available {
    color: #00A046;
}
.noavailable {
    color: #ff5c00;
}
.title {
    font-size: 15px;
}
.card-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}