<div *ngFor="let product of products;" class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">
            <a [title]="product.title + 'details'" [routerLink]="['/products', product.id]" routerLinkActive="router-link-active">
                {{product.title}}
            </a>
        </h5>
        <p class="card-text">{{product.description}}</p>
        <h3>{{product.price}} $</h3>
        <button class="btn btn-success" (click)="share()">Share</button>
        <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
    </div>
</div>
