* {
  list-style: none;
}
.available {
  color: #00A046;
  background: #f4faf6;
  padding: 4px 10px;
  display: flex;
  align-items: center;
}
.noavailable {
  color: #ff5c00;
  background: #fff7f2;
  padding: 4px 10px;
  display: flex;
  align-items: center;
}
.image-wrapper {
  display: flex;
  padding: 20px 50px;
  flex-wrap: wrap;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  flex-grow: 1;
}
.info-actions {
  display: flex;
  justify-content: space-between;
}
