<header class="header">
  <app-cart *ngIf="cartVisible" (toggleCartVisible)="toggleCartVisible()"></app-cart>
  <div class="modal-window-background" *ngIf="authVisible">
    <div class="modal-window">
      <div class="modal-window-header">
        <h3>Вхід</h3>
        <button class="modal-window-header-button" (click)="toggleAuthVisible();" aria-label="Закрити модальне вікно">
          <span class="burger"></span>
        </button>
      </div>
      <div class="modal-window-body">
        <form class="modal-window-body-auth" [formGroup]="checkoutForm" (ngSubmit)="signInWithEmailEndPassword(checkoutForm.value)">
         <div class="form-row">
            <label for="email">Ел. пошта або телефон</label>
            <input type="email" id="email" class="form-row-input" formControlName="email">
         </div>
          <div class="form-row">
            <label for="password">Пароль</label>
            <input type="password" id="password" class="form-row-input" formControlName="password">
          </div>
          <div class="form-row">
            <div class="form-row-check">
              <input type="checkbox" class="rememberme" [checked]="rememberMe" id="rememberme">
              <label for="rememberme" class="form-row-check-label">Запам'ятати мене</label>
            </div>
            <a class="form-row-check-link">Нагадати пароль</a>
          </div>
          <div class="form-row">
            <button class="form-row-button" type="submit">Увійти</button>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="signup">Зареєструватися</a>
          </div>
        </form>
        <div class="modal-window-body-social">
          <p>Увійти як користувач</p>
          <button class="modal-window-body-social-button">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            <p class="modal-window-body-social-button-title" (click)="auth.facebookSignIn();toggleAuthVisible();">Facebook</p>
          </button>
          <button class="modal-window-body-social-button" (click)="auth.googleSignin(); ">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            <p class="modal-window-body-social-button-title">Google</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-toolbar color="primary" class="toolbar">
    <button mat-button routerLink="/">
      <mat-icon>accessibility_new</mat-icon>
      <span>My Application</span>
    </button>
    <span class="fill-remaining-space"></span>


    <mat-form-field>
      <mat-label>Пошук</mat-label>
      <input matInput [formControl]="search">
    </mat-form-field>

    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="toggleCartVisible()">
      <mat-icon
        [matBadge]="cartCouter"
        matBadgePosition="above after"
        matBadgeColor="warn">add_shopping_cart
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>bookmark</mat-icon>
    </button>

    <button mat-icon-button *ngIf="auth.user$ | async as user; else login" (click)="auth.signOut()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>

<ng-template #login>
  <button mat-icon-button (click)="toggleAuthVisible()">
    <mat-icon>account_circle</mat-icon>
  </button>
</ng-template>
