<header class="header">
  <app-cart *ngIf="cartVisible" (toggleCartVisible)="toggleCartVisible()"></app-cart>
  <div class="modal-window-background" *ngIf="authVisible">
    <div class="modal-window">
      <div class="modal-window-header">
        <h3>Вхід</h3>
        <button class="modal-window-header-button" (click)="toggleAuthVisible();" aria-label="Закрити модальне вікно">
          <span class="burger"></span>
        </button>
      </div>
      <div class="modal-window-body">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Вкажіть правильний email
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Це поле <strong>обов'язкове</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Це поле <strong>обов'язкове</strong>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
              Пароль дуже <strong>короткий</strong>
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="generalService.getErrorState() | async">
            {{error}}
          </mat-error>
          <button mat-flat-button color="primary"
                  [disabled]="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('required')
                || emailFormControl.hasError('required') || emailFormControl.hasError('email')"
                  (click)="signIn(emailFormControl.value, passwordFormControl.value)">Увійти</button>
        </form>
        <a routerLink="signup" routerLinkActive="router-link-active" class="signup" (click)="toggleAuthVisible()">Зареєструватися</a>
      </div>
    </div>
  </div>

  <mat-toolbar color="primary" class="toolbar">
    <button mat-button routerLink="/">
      <mat-icon>accessibility_new</mat-icon>
      <span>My Application</span>
    </button>
    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="toggleCartVisible()">
      <mat-icon
        [matBadge]="cartCouter"
        matBadgePosition="above after"
        matBadgeColor="warn">add_shopping_cart
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>bookmark</mat-icon>
    </button>

    <button mat-button routerLink="/profile" *ngIf="isAuth; else login">
      <mat-icon>account_circle</mat-icon>
      <span>Особистий кабінет</span>
    </button>
  </mat-toolbar>
</header>

<ng-template #login>
  <button mat-icon-button (click)="toggleAuthVisible()">
    <mat-icon>account_circle</mat-icon>
  </button>
</ng-template>
